{% load crispy_forms_tags %}

{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
</head>
<body>
    <div class="row">
        <div class="col-12"></div>
    </div>
    <div class="card">
        <div class="card-header">
            <h2><i class="fa fa-users"></i> Cadastro de Livros</h2>
        </div>
        <div class="card-body">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="container">
                    <div class="p-1 mb-2 bg-light text-dark">
                        <div class="form-row">
                            <div class="col-md-8">
                                {{ form.titulo.errors }}
                                <label><strong>Titulo: </strong></label>
                                {{ form.titulo |add_class:'form-control' }}
                            </div>
                            <div class="col-md-4">
                                {{ form.autor.errors }}
                                <label><strong>Autor: </strong></label>
                                {{ form.autor |add_class:'form-control' }}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <div class="p-1 mb-2 bg-light text-dark">
                        <div class="form-row">
                            <div class="col-md-8">
                                {{ form.editora.errors }}
                                <label><strong>Editora:</strong></label>
                                {{ form.editora |add_class:'form-control' }}
                            </div>
                            <div class="col-md-4">
                                {{ form.edicao.errors }}
                                <label><strong>Edição:</strong></label>
                                {{ form.edicao |add_class:'form-control'  }}
                            </div>
                            <div class="col-md-2">
                                {{ form.ano_publicacao.erros }}
                                <label><strong>Data de Publicação:</strong></label>
                                {{ form.ano_publicacao |add_class:'form-control' }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="p-1 mb-2 bg-light text-dark">
                        <div class="form-row">
                            <div class="col-md-3">
                                {{ form.isbn.erros }}
                                <label><strong>ISBN:</strong></label>
                                {{ form.isbn  |add_class:'form-control' }}
                            </div>
                            <div class="col-md-2">
                                {{ form.numero_paginas.erros }}
                                <label><strong>Páginas:</strong></label>
                                {{ form.numero_paginas |add_class:'form-control' }}
                            </div>
                <br>
                <div class="container">
                    <div class="p-1 mb-2 bg-light text-dark">
                        <div class="form-row">
                            <div class="col-md-12">
                               <button type="submit" class="btn btn-success">Salvar</button>
                               <a href="{{request.META.HTTP_REFERER}}"><button type="button" class="btn btn-primary">Voltar</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

</body>
</html>