
{% extends 'core/base.html' %}

{% block title %}Excluir Aluno{% endblock %}

{% block body_class %}pagina-excluir{% endblock %}
{% block content %}

<div class="card">
    <div class="card-header">
         <h2> Tem certeza que deseja remover o aluno abaixo?</h2>

    </div>
    <div class="card-body">
        <h5 class="card-title">Id: {{aluno.id}}</h5>
        <h5 class="card-title">Aluno: {{aluno.nome}}</h5>
        <h5 class="card-title">Matrícula: {{aluno.matricula}}</h5>
        <h5 class="card-title">Matrícula: {{aluno.matricula}}</h5>
        <h5 class="card-title">Matrícula: {{aluno.email}}</h5>
        <h5 class="card-title">Matrícula: {{aluno.telefone}}</h5>
        <h5 class="card-title">Matrícula: {{aluno.data_evento}}</h5>

        <form method="post">
             {% csrf_token %}
            <button class="btn btn-danger" type="submit">Remover</button>
            <a href="{{request.META.HTTP_REFERER}}" class="btn btn-primary">Voltar</a>
        </form>
    </div>
</div>

{% endblock %}