{% extends 'base.html' %}

{% load static %}


{% block conteudo %}
<body class="bg-dark fixed-nav sticky-footer" id="page-top">

    <!-- Navegação -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
        <a class="navbar-brand" href="#">Administração - SADIWEB</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
        data-target="#navbarCurso" aria-controls="navbarCurso" aria-expanded="false" aria-label="Navevação Toggle">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div id="navbarCurso" class="collapse navbar-collapse">
            <ul class="navbar-nav navbar-sidenav" id="linksaccordion">
                <li class="nav-item" data-toggle="tooltip" data-placement="right">
                    <a class="nav-link" href="{% url 'index' %}">
                        <i class="fa fa-fw fa-dashboard"></i>
                        <span class="nav-link-text">Dashboard</span>
                    </a>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right">
                    <a class="nav-link nav-link-collapse collapse" href="#linkscadastrocsl"
                       data-toggle="collapse" data-parent="#linksaccordion">
                        <i class="fa fa-fw fa-file"></i>
                        <span class="nav-link-text">CSL</span>
                    </a>
                    <ul class="sidenav-second-level collapse" id="linkscadastrocsl">
                        <li>
                            <a href="#linkscadastrocsls" class="nav-link-collapse collapse" data-toggle="collapse"><i class="fa fa-car" style="color: white;"></i> Veículos</a>
                            <ul class="sidenav-third-level collapse" id="linkscadastrocsls">
                                <li>
                                    <a href="{% url 'veiculos:inserir_veiculo' %}"><i class="fa fa-edit"></i>Cadastro</a>
                                </li>
                                <li>
                                    <a href="{% url 'veiculos:listar_veiculos' %}"><i class="fa fa-list"></i> Listagem</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#linksmotorista" class="nav-link-collapse collapse" data-toggle="collapse"><i class="fa fa-user" style="color: white;"></i> Motoristas</a>
                            <ul class="sidenav-third-level collapse" id="linksmotorista">
                                <li>
                                    <a href="{% url 'motoristas:inserir_motorista' %}"><i class="fa fa-edit"></i>Cadastro</a>
                                </li>
                                <li>
                                    <a href="{% url 'motoristas:listar_motoristas' %}"><i class="fa fa-list"></i> Listagem</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#linksprogramacao" class="nav-link-collapse collapse" data-toggle="collapse"><i class="fa fa-calendar" style="color: white;"></i> Programação</a>
                            <ul class="sidenav-third-level collapse" id="linksprogramacao">
                                <li>
                                    <a href="{% url 'programacoes:inserir_programacao' %}"><i class="fa fa-edit"></i>Cadastro</a>
                                </li>
                                <li>
                                    <a href="{% url 'programacoes:listar_programacoes' %}"><i class="fa fa-list"></i> Listagem</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <a class="nav-link nav-link-collapse collapse" href="#linkscadastro"
                       data-toggle="collapse" data-parent="#linksaccordion">
                        <i class="fa fa-fw fa-file"></i>
                        <span class="nav-link-text">Enfermaria</span>
                    </a>
                    <ul class="sidenav-second-level collapse" id="linkscadastro">
                        <li>
                            <a href="#linkprontuarios" class="nav-link-collapse collapse" data-toggle="collapse"><i class="fa fa-medkit" style="color: white;"></i> PRONTUÁRIOS</a>
                            <ul class="sidenav-third-level collapse" id="linkprontuarios">
                                <li>
                                    <a href="{{'/prontuarios/cadastrar'}}"><i class="fa fa-edit"></i> Cadastro</a>
                                </li>
                                <li>
                                    <a href="{{'/prontuarios/listar'}}"><i class="fa fa-list"></i> Listagem</a>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a href="#linkalunos" class="nav-link-collapse collapse" data-toggle="collapse"><i class="fa fa-users" style="color: white;"></i> ALUNOS</a>
                            <ul class="sidenav-third-level collapse" id="linkalunos">
                                <li>
                                    <a href="{% url 'alunos:inserir_aluno' %}"><i class="fa fa-edit"></i>Cadastro</a>
                                </li>
                                <li>
                                    <a href="{% url 'alunos:listar_alunos' %}"><i class="fa fa-list"></i> Listagem</a>
                                </li>

                                <li>
                                    <a href="#link3nivel_alunos" class="nav-link-collapse collapse" data-toggle="collapse"><i class="fa fa-print"></i> Relatórios</a>
                                    <ul class="sidenav-third-level collapse" id="link3nivel_alunos">
                                        <li>
                                            <a href="#"><i class="fa fa-users"></i>Todos os Alunos</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a href="#linkturmas" class="nav-link-collapse collapse" data-toggle="collapse"><i class="fa fa-graduation-cap" style="color: white"></i> TURMAS</a>
                            <ul class="sidenav-third-level collapse" id="linkturmas">
                                <li>
                                    <a href="{{'/turmas/cadastrar'}}"><i class="fa fa-edit"></i>Cadastro</a>
                                </li>
                                <li>
                                    <a href="{{'/turmas/listar'}}"><i class="fa fa-list"></i> Listagem</a>
                                </li>
                                <li>
                                    <a href="#link3nivel_turmas" class="nav-link-collapse collapse" data-toggle="collapse"><i class="fa fa-print"></i> Relatórios</a>
                                    <ul class="sidenav-third-level collapse" id="link3nivel_turmas">
                                        <li>
                                            <a href="{{ '/turmas/relatorio' }}">Todos as Turmas</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#linktipoqueixaprincipal" class="nav-link-collapse collapse" data-toggle="collapse"><i class="fa fa-wpforms" style="color: white;"></i> QUEIXAS</a>
                            <ul class="sidenav-third-level" id="linktipoqueixaprincipal">
                                <li>
                                    <a href="{{'/tipoqueixaprincipal/cadastrar'}}"><i class="fa fa-edit"></i> Cadastro</a>
                                </li>
                                <li>
                                    <a href="{{'/tipoqueixaprincipal/listar'}}"><i class="fa fa-list"></i> Listagem</a>
                                </li>
                                <li>
                                    <a href="#link3nivel_tipoqueixaprincipal" class="nav-link-collapse collapse" data-toggle="collapse"><i class="fa fa-print"></i> Relatórios</a>
                                    <ul class="sidenav-third-level collapse" id="link3nivel_tipoqueixaprincipal">
                                        <li>
                                            <a href="{{ '/tipoqueixaprincipal/relatorio' }}">Todos os Tipos de Queixas</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </li>
            </ul>
            <ul class="navbar-nav sidenav-toggler">
                <li class="nav-item">
                    <a id="sidenavToggler" class="nav-link text-center">
                        <i class="fa fa-fw fa-angle-left"></i>
                    </a>
                </li>
            </ul>
            <!-- Adicionando Dropdown envelope -->
            <div class="navbar-nav ml-auto" >
                <li class="nav-item dropdown"><!-- classe dropdown para que os itens que vao ficar ali fiquem em dropdown!-->
                    <a class="nav-link dropdown-toggle mr-lg-2" id="messagesDropdown"
                       href="#" data-toggle="dropdown"  aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-fw fa-envelope" style="color: #067a12" ></i>
                        <span class="d-lg-none"> <!--com essa classe o Display em telas lg para cima não vão aparecer-->
                            Mensagens
                            <span class="badge badge-pill badge-primary">12 novas</span>
                        </span>
                        <span class="indicator text-primary d-none d-lg-block">
                            <i class="fa fa-fw fa-circle"></i>
                        </span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="messagesDropdown">
                        <h6 class="dropdown-header">Novas Mensagens</h6>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">
                            <strong>Rogério Barreto Martins</strong>
                            <span class="small float-right text-muted">14:30</span>
                            <div class="dropdown-message small">
                                Novas telas no Sistema SADIF!
                            </div>
                        </a>
                        <a class="dropdown-item" href="#">
                            <strong>Rogério Barreto Martins</strong>
                            <span class="small float-right text-muted">14:30</span>
                            <div class="dropdown-message small">
                                Faltam as implementações das Telas de Relatórios!
                            </div>
                        </a>
                        <a class="dropdown-item" href="#">
                            <strong>Rogério Barreto Martins</strong>
                            <span class="small float-right text-muted">14:30</span>
                            <div class="dropdown-message small">
                                Criar os gráficos para atendimentos no Setor de Enfermaria!
                            </div>
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item small">Ver todas as mensagens.</a>
                        </a>
                    </div>
                </li>

                <!-- Adicionando Dropdown Alertas -->
                <li class="nav-item dropdown"><!-- classe dropdown para que os itens que vao ficar ali fiquem em dropdown!-->
                    <a class="nav-link dropdown-toggle mr-lg-2" id="alertsDropdown"
                       href="#" data-toggle="dropdown"  aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-fw fa-bell" style="color: #ff002b" ></i>
                        <span class="d-lg-none"> <!--com essa classe o Display em telas lg para cima não vão aparecer-->
                            Alertas
                            <span class="badge badge-pill badge-warning">5 novos</span>
                        </span>
                        <span class="indicator text-warning d-none d-lg-block">
                            <i class="fa fa-fw fa-circle"></i>
                        </span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="alertsDropdown">
                        <h6 class="dropdown-header">Novos Alertas</h6>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <span class="text-success">
                                <strong>
                                    <i class="fa fa-fw fa-long-arrow-up"></i>
                                    Atualização de Estado.
                                </strong>
                            </span>
                            <span class="small float-right text-muted">14:30</span>
                            <div class="dropdown-message small">
                            Verificar as novas implementações!
                            </div>
                            <div class="dropdown-divider"></div>
                        </a>
                        </a>
                        <a href="#" class="dropdown-item">
                            <span class="text-danger">
                                <strong>
                                    <i class="fa fa-fw fa-long-arrow-down"></i>
                                    Atualizar os dados no Bando de Dados!
                                </strong>
                            </span>
                            <span class="small float-right text-muted">14:30</span>
                            <div class="dropdown-message small">
                            Ver as pendências e corrigí-las!
                            </div>
                            <div class="dropdown-divider"></div>
                        </a>
                        <a href="#" class="dropdown-item">
                            <span class="text-success">
                                <strong>
                                    <i class="fa fa-fw fa-long-arrow-up"></i>
                                    Atualização de Estado.
                                </strong>
                            </span>
                            <span class="small float-right text-muted">14:30</span>
                            <div class="dropdown-message small">
                            Atenção aos prazos para entregar as atualizações do sistema!
                            </div>
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item small">Ver todos os Alertas.</a>
                        </a>
                    </div>
                </li>
                <!--<li class="nav-item">
                    <form class="form-inline my-2 my-lg-0 mr-lg-2">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Pesquisar por ...">
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </form>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'accounts:user_logout' %}">
                        <i class="fa fa-sign-out">Sair</i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    </nav>
    <div class="content-wrapper">
        <div class="container-fluid">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{% url 'index' %}">Home</a>
                </li>
                <li class="breadcrumb-item">
                    {% block bread %}
                    {% endblock bread %}
                </li>
            </ol>
            <div class="row">
                <div class="col-12">
                    {% block pages %}
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="card" style="width: 18rem;">
                                    <div class="card-header">
                                        <i class="fa fa-car"></i><B> Veículos</B></a>
                                    </div>
                                    <div class="card-body text-center">
                                    <h1 class="card-title">0</h1>
                                    <h3 class="card-subtitle mb-2 text-muted">Veículos</h3><br>
                                    <a class="btn btn-success btn-sm" href="{% url 'veiculos:listar_veiculos' %}"><i class="fa fa-plus"></i><span> Cadastrar</span></a>
                                    <!-- <a href="#" class="card-link">Outro link</a> -->
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="card" style="width: 18rem;">
                                    <div class="card-header">
                                        <i class="fa fa-user"></i><B> Motoristas</B></a>
                                    </div>
                                    <div class="card-body text-center">
                                        <h1 class="card-title">0</h1>
                                        <h3 class="card-subtitle mb-2 text-muted">Motoristas</h3><br>
                                        <a class="btn btn-success btn-sm" href="{% url 'motoristas:listar_motoristas' %}"><i class="fa fa-plus"></i><span> Cadastrar</span></a>
                                        <!-- <a href="#" class="card-link">Outro link</a> -->
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="card" style="width: 18rem;">
                                    <div class="card-header">
                                        <i class="fa fa-calendar"></i><B> Programação</B></a>
                                    </div>
                                    <div class="card-body text-center">
                                        <h1 class="card-title">0</h1>
                                        <h3 class="card-subtitle mb-2 text-muted">Agendamentos</h3><br>
                                        <a class="btn btn-success btn-sm" href="{% url 'programacoes:listar_programacoes' %}"><i class="fa fa-plus"></i><span> Agendar</span></a>
                                        <!-- <a href="#" class="card-link">Outro link</a> -->
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="card" style="width: 18rem;">
                                    <div class="card-header">
                                        <i class="fa fa-sign-in"></i><B> Saída de Veículos</B></a>
                                    </div>
                                    <div class="card-body text-center">
                                        <h1 class="card-title">0</h1>
                                        <h3 class="card-subtitle mb-2 text-muted">Saídas</h3><br>
                                        <a class="btn btn-success btn-sm" href="#"><i class="fa fa-plus "></i><span> Agendar</span></a>
                                        <!-- <a href="#" class="card-link">Outro link</a> -->
                                    </div>
                                </div>
                            </div>
                            </div>
                    </div>
                    {% endblock pages %}
                </div>
            </div>
        </div>
        <footer class="sticky-footer">
            <div class="container">
                <div class="text-center">
                    <small>SADIFWEB - Marca Registrada - 2025</small>
                    <small>RBM Sistemas - (75) 98805-7797</small>
                </div>
            </div>
        </footer>
    </div>
</body>

{% endblock conteudo %}