<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Sistema de Biblioteca</title>
</head>
<body>

    <h1>Biblioteca do Povão</h1>

    <a href="{% url 'alunos:inserir_aluno' %}">
    <button>Cadastrar Alunos</button>
    </a><br>
    <a href="{% url 'alunos:listar_alunos' %}">
    <button>Listagem de Alunos</button>
    </a><br>
    <a href="{% url 'livros:inserir_livro' %}">
    <button> Inserir Livros</button>
    </a><br> <a href="{% url 'livros:listar_livros' %}">
    <button> Listar Livros</button>
    </a><br>
    <a href="{% url 'emprestimos:inserir_emprestimo' %}">
    <button>Emprestimos</button>
    </a><br>
</body>
</html>
