:root { --sidebar-width: 260px; }
       /* body { display: flex; min-height: 100vh; overflow-x: hidden; } */

        /* Sidebar */
        .sidebar {
            position: fixed;
            top: 0;
            left: 0;
            height: 100vh;
            width: var(--sidebar-width);
            background-color: #2c3e50;
            color: white;
            display: flex;
            flex-direction: column;


        }
        .sidebar-menu {
            overflow-y: auto;

            /* Firefox (padrão oficial) */
            scrollbar-width: thin;
            scrollbar-color: #666 transparent;
            margin-bottom: 30px;
        }

        .sidebar-header {
            padding: 20px;
            background-color: #1a252f;
            text-align: center;

        }
        body.dark .sidebar-header {
            padding: 20px;
            background-color: #131313;
            text-align: center;
        }
        .sidebar-header a { color: white; text-decoration: none; }


        .menu-secao {
            padding: 15px 20px 5px;
            font-size: 0.75rem;
            text-transform: uppercase;
            color: #95a5a6;
            letter-spacing: 1px;

        }
        .nav-link {
            color: #bdc3c7;
            padding: 10px 25px;
            display: flex;
            align-items: center;
            transition: 0.2s;
        }
        .nav-link:hover {
        background-color: #34495e;
        color: white;
        text-decoration-line: underline;
        text-decoration-color: inherit;
        }

        .nav-link i { width: 25px; margin-right: 10px; }

        /* Conteúdo */
        .main-container { flex: 1; margin-left: var(--sidebar-width); background-color: #f8f9fa; }


        .tema-geral-btn, .tema-user-btn{

            background-color: #0c1317;
            color: white;
            border: 2px solid;
            border-color: #b5dcea;
            border-radius: 6px;
            padding: 6px 12px;
            --bs-btn-hover-bg: #162127;
            --bs-btn-hover-border-color: #b5dcea;
            --bs-btn-hover-color:#b5dcea;
        }
        body.dark .tema-geral-btn, body.dark .tema-user-btn {

            background-color: #bfbfbf;
            color: black;
            border: 2px solid;
            border-color: white;
            border-radius: 6px;
            padding: 6px 12px;


        }
        body.dark .tema-geral-btn:hover{
            background-color: #a1a1a1;
            border-color: white;
            color: white;
        }
        .content-area { padding: 30px; }

        /* Dark Mode overrides para a estrutura */
        body.dark .main-container { background-color: #121212; }
        body.dark .top-navbar { background-color: #1e1e1e; border-bottom-color: #333; color: white; }
        body.dark .sidebar { background-color: #1a1a1a; }

        /* Sidebar colapsada */
        .sidebar.collapsed {
            width: 40px; /* só espaço para o botão toggle */
           transition: margin-left 0.3s;
        }

        /* Quando colapsada, o main-container precisa ajustar margem */
        .sidebar.collapsed ~ .main-container {
            margin-left: 40px;
            transition: margin-left 0.3s;
        }

        /* Conteúdo interno da sidebar escondido quando colapsada */
        .sidebar.collapsed .sidebar-menu,.sidebar.collapsed .sidebar-header > *:not(.sidebar-toggle) {
            display: none;
        }


        .sidebar.collapsed .sidebar-toggle{
            height: 40px;
        }
        /* Botão toggle da sidebar sempre visível */
        .sidebar-toggle {
            width: 100%;
            height: 60px;
            background-color: #2c3e50;
            color: white;
            border: none;
            border-radius: 0 5px 5px 0;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 9999;
            transition: background-color 0.3s;
        }

        .sidebar-toggle:hover {
            background-color: #34495e;
        }

        /* Dark mode para o botão toggle */
        body.dark .sidebar-toggle {
            background-color: #1a1a1a;
            color: white;
        }

        body.dark .sidebar-toggle:hover {
            background-color: #333;
        }

        body:not(.show-theme-btn) .tema-geral-btn {
          display: none;
        }

        body:not(.show-usertheme-btn) .tema-user-btn {
          display: none;
        }

        .btn-row{
            display: flex;
            gap: 8px;
        }


