
{% extends 'core/base.html' %}
{% load widget_tweaks %}
{% block title %}Status Emprestimos{% endblock %}

{% block body_class %}pagina-excluir{% endblock %}
{% block content %}


<div class="card">
    <div class="card-header">
        <h1>Emprestimos do aluno: {{aluno.nome}}</h1>
        <div class="card-button">
            <!-- Botão de alternar tema -->
                <button class="tema-btn" onclick="mudarTema()">Alternar Tema</button>
        </div>
    </div>
    <div class="card-body">

        {% for e in emprestimos %}
            <div class="card">
                 <div class="card-body">
                    <hr>
                    <h5 class="card-title">Id: {{e.id}}</h5>
                    <h5 class="card-title">Livro: {{ e.livro_id }}</h5>
                    <h5 class="card-title">Data do Empréstimo: {{ e.data_emprestimo }}</h5>
                    <h5 class="card-title">Data Prevista: {{ e.data_prevista_devolucao }}</h5>
                    <h5 class="card-title">Data de Devolução: {{ e.data_devolucao }}</h5>
                    <h5 class="card-title">Status: {{ e.get_status_display }}</h5>
                </div>
            </div>
        {% empty %}
            <div class="card">
                 <div class="card-body">
                    <p><h5>Este aluno não possui empréstimos. </h5></p>
                 </div>
            </div>
        {% endfor %}
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                <a href="{{request.META.HTTP_REFERER}}" class="btn btn-primary">Voltar</a>
            </form>
        </div>
    </div>
</div>


{% endblock %}