
{% extends 'core/base.html' %}
{% load widget_tweaks %}
{% block title %}Excluir Emprestimos{% endblock %}

{% block body_class %}pagina-excluir{% endblock %}
{% block content %}



<div class="card">
    <div class="card-header">
       <h2> Tem certeza que deseja remover o emprestimo abaixo? </h2>
        <div class="card-button">
            <!-- Botão de alternar tema -->
                <button class="tema-btn" onclick="mudarTema()">Alternar Tema</button>
        </div>
    </div>
    <div class="card-body">
        <h5 class="card-title">Id: {{emprestimo.id}}</h5>
        <h5 class="card-title">Aluno: {{emprestimo.aluno_id}}</h5>
        <h5 class="card-title">Livro: {{emprestimo.livro_id}}</h5>
        <h5 class="card-title">Data Do Emprestimo: {{emprestimo.data_emprestimo}}</h5>
        <h5 class="card-title">Data De Devolução: {{emprestimo.data_devolucao}}</h5>
        <h5 class="card-title">Data Prevista De Devolução: {{emprestimo.data_prevista_devolucao}}</h5>
        <h5 class="card-title">Status: {{emprestimo.get_status_display}}</h5>

        <form method="post">
             {% csrf_token %}
            <button class="btn btn-danger" type="submit">Remover</button>
            <a href="{{request.META.HTTP_REFERER}}" class="btn btn-primary">Voltar</a>
        </form>
    </div>
</div>

{% endblock %}