{% extends 'core/base.html' %}
{% load widget_tweaks %}
{% block title %}Cadastro de Emprestimo{% endblock %}

{% block content %}




    <div class="row">
        <div class="col-12"></div>
    </div>
    <div class="card">
        <div class="card-header">
            <h2><i class="fa fa-users"></i> Cadastro de Emprestimo</h2>

        </div>
        <div class="card-body">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="container">
                    <div class="p-1 mb-2 form-box">
                        <div class="row">
                            <div class="col-md-7">
                                <label><strong>Aluno:</strong></label>
                                <input type="text" id="id_aluno" name="aluno" class="form-control" placeholder="Digite o nome do aluno">
                                <input type="hidden" id="id_aluno_id" name="aluno_id">
                            </div>
                            <div class="col-md-7">
                            <label><strong>Livro:</strong></label>
                                <input type="text" id="id_livro" name="livro" class="form-control"
                                       value="{% if livro %}{{ livro.titulo }}{% endif %}"
                                       placeholder="Digite o nome do livro">

                                <input type="hidden" id="id_livro_id" name="livro_id"
                                       value="{% if livro %}{{ livro.id }}{% endif %}">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <div class="p-1 mb-2 form-box">
                        <div class="row">
                            <div class="col-md-4 mb-0">
                                {{ form.data_devolucao.errors }}
                                <label><strong>Data da Devolução:</strong></label>
                                {{ form.data_devolucao |add_class:'form-control'  }}
                            </div>
                            <div class="col-md-3">
                                {{ form.data_prevista_devolucao.erros | date:'d/m/Y'}}
                                <label><strong>Data Prevista Da Devolução:</strong></label>
                                {{ form.data_prevista_devolucao |add_class:'form-control' }}
                            </div>
                            <div class="col-md-3">
                                {{ form.status.erros }}
                                <label><strong>status:</strong></label>
                                {{ form.status  |add_class:'form-control' }}
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="container">
                    <div class="p-1 mb-2 form-box">
                        <div class="row">
                            <div class="col-md-12">
                               <button type="submit" class="btn btn-success">Salvar</button>
                               <a href="{{request.META.HTTP_REFERER}}" class="btn btn-primary">Voltar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

<!-- buscar livro -->
<script>
$(function() {
    $("#id_livro").autocomplete({
        source: function(request, response) {
            $.getJSON("{% url 'livros:buscar_livros' %}", { q: request.term }, function(data) {
                response($.map(data, function(item) {
                    return {
                        label: item.text, // nome que aparece para o usuário
                        value: item.text, // o que vai aparecer no input
                        id: item.id       // id real do livro
                    };
                }));
            });
        },
        minLength: 2,  // começa a buscar após 2 caracteres
        select: function(event, ui) {
            // salva o ID real no campo oculto
            $("#id_livro_id").val(ui.item.id);
        },
        change: function(event, ui) {
            // se limpar ou digitar algo não existente, limpa o hidden
            if (!ui.item) {
                $("#id_livro_id").val("");
            }
        }
    });
});
</script>
<!-- buscar aluno -->
<script>
$(function() {
    $("#id_aluno").autocomplete({
        source: function(request, response) {
            $.getJSON("{% url 'alunos:buscar_alunos' %}", { q: request.term }, function(data) {
                response($.map(data, function(item) {
                    return {
                        label: item.text, // nome que aparece para o usuário
                        value: item.text, // o que vai aparecer no input
                        id: item.id       // id real do aluno
                    };
                }));
            });
        },
        minLength: 2,  // começa a buscar após 2 caracteres
        select: function(event, ui) {
            // salva o ID real no campo oculto
            $("#id_aluno_id").val(ui.item.id);
        },
        change: function(event, ui) {
            // se limpar ou digitar algo não existente, limpa o hidden
            if (!ui.item) {
                $("#id_aluno_id").val("");
            }
        }
    });
});
</script>

{% endblock %}